.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f8f9fb;
}

/* Sidebar already styled separately */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
